<div class="p-6 space-y-6">

  <h1 class="text-2xl font-bold">🤖 Inteligencia Artificial</h1>

  <!-- SUBIR EXCEL -->
  <div class="border p-4 rounded">
    <label class="font-semibold">Subir Excel para IA</label>
    <input type="file" (change)="cargarExcel($event)">
  </div>
  <!-- GRAFICA 2D -->
    <div id="grafica2D" style="width:100%; height:400px;"></div>
    <div class="flex items-center gap-4">
  <label class="font-semibold">Modo gráfica 3D:</label>

  <button
    (click)="modoSuperficie = false; grafica3D()"
    class="px-3 py-1 rounded border"
    [class.bg-blue-600]="!modoSuperficie"
    [class.text-white]="!modoSuperficie">
    Puntos
  </button>

  <button
    (click)="modoSuperficie = true; grafica3D()"
    class="px-3 py-1 rounded border"
    [class.bg-green-600]="modoSuperficie"
    [class.text-white]="modoSuperficie">
    Superficie
  </button>
</div>

<!-- GRAFICA 3D CON RELIEVE -->
    <div id="grafica3D" style="width:100%; height:500px;"></div>
  <!-- CONFIG ML -->
  <div class="border p-4 rounded flex items-center gap-4">
    <label>Meses a predecir</label>
    <input
      type="number"
      [(ngModel)]="meses"
      class="border p-2 w-24">

    <button
      (click)="ejecutarML()"
      class="bg-green-600 text-white px-4 py-2 rounded">
      Ejecutar ML
    </button>
  </div>

  <p *ngIf="cargando">Procesando ML...</p>
  <p *ngIf="error" class="text-red-600">{{ error }}</p>

  <!-- GRAFICAS -->
  <div id="grafica2D" style="width:100%; height:400px;"></div>
  <div id="grafica3D" style="width:100%; height:500px;"></div>

</div>
<div class="border rounded p-4 mt-8 max-w-xl">

  <h2 class="text-xl font-semibold mb-2">💬 Asistente IA</h2>

  <div class="h-64 overflow-y-auto border p-2 mb-2 bg-gray-50">
    <div *ngFor="let m of mensajes" class="mb-2">
      <b *ngIf="m.rol === 'user'">Tú:</b>
      <b *ngIf="m.rol === 'ia'">IA:</b>
      {{ m.texto }}
    </div>
  </div>

  <div class="flex gap-2">
    <input
      [(ngModel)]="mensajeUsuario"
      placeholder="Pregunta sobre tus datos..."
      class="flex-1 border p-2 rounded"
      (keyup.enter)="enviarChat()"
    />
    <button
      (click)="enviarChat()"
      class="bg-blue-600 text-white px-4 rounded">
      Enviar
    </button>
  </div>

</div>
