
<div class="mt-8 bg-white p-6 rounded-xl shadow">
  <h2 class="text-lg font-bold mb-4">Últimos movimientos</h2>

  <table class="w-full border-collapse">
    <thead>
      <tr class="text-left text-gray-600 border-b">
        <th class="p-2">ID</th>
        <th class="p-2">Fecha</th>
        <th class="p-2">Descripción</th>
        <th class="p-2">Monto</th>
        <th class="p-2">Tipo</th>
      </tr>
    </thead>

    <tbody>
      <tr class="border-b">
        <td class="p-2">1</td>
        <td class="p-2">12/11/2025</td>
        <td class="p-2">Pago usuario Premium</td>
        <td class="p-2 text-green-600 font-bold">+ 120 Bs</td>
        <td class="p-2">Ingreso</td>
      </tr>

      <tr class="border-b">
        <td class="p-2">2</td>
        <td class="p-2">12/11/2025</td>
        <td class="p-2">Compra servidor hosting</td>
        <td class="p-2 text-red-600 font-bold">- 80 Bs</td>
        <td class="p-2">Gasto</td>
      </tr>

    </tbody>
  </table>
</div>
